/*Estilo general de la pagina en blanco*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f5fa;
  color: #333;
}

/* Inicio de configuración de flexbox */
.container {
  background-color: #f9fbfd;
  border: 1px solid #e0e3e7;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
  width: 100%;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

header {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  img {
    display: block;
    margin: auto;
    height: 150px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 5em;

  }

  h2{
    text-align: center;
  }

}

main {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}